backports.tarfile==1.2.0
importlib-metadata==8.0.0
jaraco.collections==5.1.0
memory-profiler==0.61.0
packaging==24.2
pip-chill==1.0.3
platformdirs==4.2.2
py-spy==0.4.0
scalene==1.5.49
tomli==2.0.1
tornado==6.4.2
